@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,900;1,400&family=Work+Sans:ital,wght@0,500;1,400&display=swap');



* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;


}

:root {
  --heading: rgb(3, 1, 39);
  --paragraph: rgb(0, 0, 7);
  --para-tint: rgb(204, 203, 228);
  --white: rgb(255, 255, 255);
  --black: rgb(75, 46, 46);
  --helper: rgba(46, 46, 53, 0.863);
  --helper-tint: rgb(0, 0, 10);
  --bg: rgb(254, 254, 255);
  --gradient: rgb(106, 20, 219);
  --gradientSupport: rgb(76, 60, 224);
  --shadow: 0px 20px 20px 0px rgba(21, 32, 182, 0.678);
  --shadowSupport: 20px 25px 20px 0px rgba(20, 4, 109, 0.2);
}

html {
  font-size: 100%;
 
}

h1,
h2,
h3,
h4 {
  font-family: 'Mochiy Pop One', sans-serif;

}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h2 {}

h3 {
  font-size: 1.8rem;
  font-weight: 400;

}






p {
  color: var(--paragraph);
  font-size: 2.7rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
}

li {
  list-style: none;
}


/* Header section starts */

header {
  padding: 2.8rem;
  height: 10rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header .logo {
  height: 8rem;
}

.navbar-lists {
  display: flex;
  gap: 2rem;

}

.navbar-link: link,
.navbar-lnk: visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font: weight 500px;
  text-transformaton: uppercase;
  color: var(--black);
  transition: color 0.3s linear;

}


.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}


/* main section start */

.section {
  padding: 5rem;

}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  background: var(--gradientSupport);
  padding: 0.4rem 0.5rem;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 50;
  cursor: pointer;
  margin-top: 5rem;
  transition: 0.5s;

}

.resume-btn {
  color: var(--paragraph);

}

.btn:hover,
.btn:active {
  box-shadow: var(--shadowSupport);
}

/* hero section start  */


.section-hero {
  background-color: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-top-data {
  font-size: 4rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

.hero-heading {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.hero-para {
  margin-top: 1rem;
  max-width: 60rem;
  justify-content: center;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 100%;
}

/* about sectoion started */


.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;

}

.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  border: solid;
}

.about-para {
  font-size: 1.2rem;
  text-indent: 15%;
  text-align: justify;
}

.common-heading {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 4rem;
  position: relative;

}

/* Skills section starts hear */



.skills_list {
  width: 100%;

  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5%;

}

.progress {

  text-align: right;
  color: rgb(3, 0, 10);
  box-sizing: border-box;
  border-radius: 25px;
}


.bo {

  color: rgb(29, 0, 0);
  width: 100%;
  background-color: #ecb9ec5e;
  border-radius: 25px;

}

.html {
  width: 90%;
  background-color: #17eb68;
  border-radius: 25px;
}

.css {
  width: 85%;
  background-color: #05c5d3;

}

.java {
  width: 78%;
  background-color: #fc4d9e;
}

.spring_boot {
  width: 65%;
  background-color: #e4e016;
}

.git {
  width: 78%;
  background-color: #0adb3f;
}


.jdbc {
  width: 72%;
  background-color: #7af1c4;
}

.mysql {
  width: 80%;
  background-color: #f85050;
}


/* about page cs */

footer {
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  width: 100%;
  background: #e3dcd5;
  text-align: center;
}

footer .content {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80px;
}

.artboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);

}

.artboard:hover .button {
  transform: rotate(-75deg);
}

.button,
.links {
  display: inline-block;
  width: 200px;
  height: 70px;
  background: #6642eb;
}

.button i,
.button a,
.links i,
.links a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button i,
.links i {
  font-size: 12px;
}

.button {
  z-index: 2;
  transition: 950ms cubic-bezier(0.89, 0.03, 0.06, 1.5);
  transform-origin: top left;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
}

.links {
  position: absolute;
  z-index: 1;
  background: #f79744e1;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
}

.links a {
  text-decoration: none;
}

@-webkit-keyframes beat {
  to {
    transform: scale(1.4);
  }
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

/* about oagw .css */





/* ////////////////////////////////////////////////////////////////////////////////////////// */










.wrapper.style2 .icon.major:before {
  color: #5052b5;
}

.wrapper.style2-alt .icon.major:before {
  color: #3e4094;
}



/* ......................  */

.wrapper.style2 {
  background-color: #5052b5;
}

.wrapper.style2-alt {
  background-color: #3e4094;
}









/* Spotlights */

.spotlights > section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 22.5em;
}

  body.is-ie .spotlights > section {
    min-height: 0;
  }

  .spotlights > section > .image {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    display: block;
    position: relative;
    width: 25em;
  }

    .spotlights > section > .image img {
      border-radius: 0;
      display: block;
    }

    .spotlights > section > .image:before {
      -moz-transition: opacity 1s ease;
      -webkit-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      transition: opacity 1s ease;
      background: rgba(49, 36, 80, 0.9);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  .spotlights > section > .content {
    padding: 4em 5em 2em 5em ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 50em;
    -ms-flex: 1;
  }

    .spotlights > section > .content > .inner {
      -moz-transform: translateX(0) translateY(0);
      -webkit-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
      -moz-transition: opacity 1s ease, -moz-transform 1s ease;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      -ms-transition: opacity 1s ease, -ms-transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1;
    }

  .spotlights > section:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .spotlights > section:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .spotlights > section.inactive > .image:before,
  body.is-preload .spotlights > section > .image:before {
    opacity: 1;
  }

  .spotlights > section.inactive > .content > .inner,
  body.is-preload .spotlights > section > .content > .inner {
    -moz-transform: translateX(-1em);
    -webkit-transform: translateX(-1em);
    -ms-transform: translateX(-1em);
    transform: translateX(-1em);
    opacity: 0;
  }

  @media screen and (max-width: 1680px) {

    .spotlights > section > .content {
      padding:;
    }

  }

  @media screen and (max-width: 980px) {

    .spotlights > section {
      display: block;
    }

      .spotlights > section > .image {
        width: 100%;
        height: 50vh;
      }

      .spotlights > section > .content {
        width: 100%;
      }

      .spotlights > section.inactive > .content > .inner,
      body.is-preload .spotlights > section > .content > .inner {
        -moz-transform: translateY(1em);
        -webkit-transform: translateY(1em);
        -ms-transform: translateY(1em);
        transform: translateY(1em);
      }

  }

  @media screen and (max-width: 736px) {

    .spotlights > section > .image {
      height: 50vh;
      min-height: 15em;
    }

    .spotlights > section > .content {
      padding: 3em 2em 1em 2em ;
    }

  }




